#### The cells have not been run before because I ran a different instance of this notebook and just manually moved the forecasts to `../../models/` because each croston method takes about an hour to run

In [1]:
%load_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np
import os
from croston import Croston_Forecasts, Croston_least_squares

DATA_PATH = '../../data/'
external = DATA_PATH + 'external/'
processed = DATA_PATH + 'processed/'
MODELS_PATH = '../../models/'

In [4]:
ste = pd.read_csv(external + "sales_train_evaluation.csv",
                  index_col='id')

In [5]:
ste

,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,d_5,...,d_1932,d_1933,d_1934,d_1935,d_1936,d_1937,d_1938,d_1939,d_1940,d_1941
id,,,,,,,,,,,,,,,,,,,,,
HOBBIES_1_001_CA_1_evaluation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,0,...,2,4,0,0,0,0,3,3,0,1
HOBBIES_1_002_CA_1_evaluation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,0,...,0,1,2,1,1,0,0,0,0,0
HOBBIES_1_003_CA_1_evaluation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,0,...,1,0,2,0,0,0,2,3,0,1
HOBBIES_1_004_CA_1_evaluation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,0,...,1,1,0,4,0,1,3,0,2,6
HOBBIES_1_005_CA_1_evaluation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,0,...,0,0,0,2,1,0,0,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
FOODS_3_823_WI_3_evaluation,FOODS_3_823,FOODS_3,FOODS,WI_3,WI,0,0,2,2,0,...,1,0,3,0,1,1,0,0,1,1
FOODS_3_824_WI_3_evaluation,FOODS_3_824,FOODS_3,FOODS,WI_3,WI,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
FOODS_3_825_WI_3_evaluation,FOODS_3_825,FOODS_3,FOODS,WI_3,WI,0,6,0,2,2,...,0,0,1,2,0,1,0,1,0,2
FOODS_3_826_WI_3_evaluation,FOODS_3_826,FOODS_3,FOODS,WI_3,WI,0,0,0,0,0,...,1,1,1,4,6,0,1,1,1,0
FOODS_3_827_WI_3_evaluation,FOODS_3_827,FOODS_3,FOODS,WI_3,WI,0,0,0,0,0,...,1,2,0,5,4,0,2,2,5,1

In [6]:
%%time
mname = 'croston'
MODEL_PATH = MODELS_PATH + f'{mname}/'
os.makedirs(MODEL_PATH, exist_ok=True)
croston_predictions = Croston_Forecasts(ste, 'std')
croston_predictions.to_csv(MODEL_PATH + 'predictions.csv')

1000/30490 time series forecasted
2000/30490 time series forecasted
3000/30490 time series forecasted
4000/30490 time series forecasted
5000/30490 time series forecasted
6000/30490 time series forecasted
7000/30490 time series forecasted
8000/30490 time series forecasted
9000/30490 time series forecasted
10000/30490 time series forecasted
11000/30490 time series forecasted
12000/30490 time series forecasted
13000/30490 time series forecasted
14000/30490 time series forecasted
15000/30490 time series forecasted
16000/30490 time series forecasted
17000/30490 time series forecasted
18000/30490 time series forecasted
19000/30490 time series forecasted
20000/30490 time series forecasted
21000/30490 time series forecasted
22000/30490 time series forecasted
23000/30490 time series forecasted
24000/30490 time series forecasted
25000/30490 time series forecasted
26000/30490 time series forecasted
27000/30490 time series forecasted
28000/30490 time series forecasted
29000/30490 time series forecasted
30000/30490 time series forecasted
30490/30490 time series forecasted
Wall time: 1h 27min 45s

In [7]:
%%time
mname = 'croston_tsb'
MODEL_PATH = MODELS_PATH + f'{mname}/'
os.makedirs(MODEL_PATH, exist_ok=True)
croston_predictions = Croston_Forecasts(ste, 'tsb')
croston_predictions.to_csv(MODEL_PATH + 'predictions.csv')

1000/30490 time series forecasted
2000/30490 time series forecasted
3000/30490 time series forecasted
4000/30490 time series forecasted
5000/30490 time series forecasted
6000/30490 time series forecasted
7000/30490 time series forecasted
8000/30490 time series forecasted
9000/30490 time series forecasted
10000/30490 time series forecasted
11000/30490 time series forecasted
12000/30490 time series forecasted
13000/30490 time series forecasted
14000/30490 time series forecasted
15000/30490 time series forecasted
16000/30490 time series forecasted
17000/30490 time series forecasted
18000/30490 time series forecasted
19000/30490 time series forecasted
20000/30490 time series forecasted
21000/30490 time series forecasted
22000/30490 time series forecasted
23000/30490 time series forecasted
24000/30490 time series forecasted
25000/30490 time series forecasted
26000/30490 time series forecasted
27000/30490 time series forecasted
28000/30490 time series forecasted
29000/30490 time series forecasted
30000/30490 time series forecasted
30490/30490 time series forecasted
Wall time: 1h 8min 13s